<div class="card-header">{{ titulo }}</div>
<div class="form-group">
  <input
    type="text"
    name="filterPost"
    class="form-control"
    placeholder="Buscar.."
    [(ngModel)]="filterPost"
  />
</div>
<div class="card-body text-primary">
  <!--   <input type="text" (keyup)="buscarId(txtBuscar.value)" #txtBuscar /> -->
  <button
    type="button"
    class="btn btn-primary my-2"
    routerLink="/inventarios/form"
  >
    Crear
  </button>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Cantidad</th>

        <th>Fecha Creacion</th>
        <th>Imagen</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventario of lista">
        <td>{{ inventario.id }}</td>
        <td>{{ inventario.nombre }}</td>
        <td>{{ inventario.cantidad }}</td>

        <td>{{ inventario.createAt }}</td>
        <td>
          <img
            *ngIf="inventario.imagenHashCode"
            [src]="
              urlEndPoint +
              '/uploads/img/' +
              inventario.id +
              '?imagenHashCode=' +
              inventario.imagenHashCode
            "
            class="img-thumbnail rounded"
            style="width: 64px; cursor: pointer"
          />

          <img
            *ngIf="!inventario.imagenHashCode"
            [src]="'/assets/images/image-not-found.png'"
            class="img-thumbnail rounded"
            style="width: 64px; cursor: pointer"
          />
        </td>
        <td>
          <button
            class="btn btn-secondary bt-sm"
            [routerLink]="['/inventarios/form', inventario.id]"
          >
            Editar
          </button>
        </td>
        <td>
          <button class="btn btn-danger bt-sm" (click)="eliminar(inventario)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
    <!--   <ul>
      <button class="btn btn-primary" (click)="verCliente(id)">buscar</button>
    </ul> -->
  </table>
  <mat-paginator
    [length]="totalRegistros"
    [pageSize]="totalPorPagina"
    [pageIndex]="paginaActual"
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginar($event)"
    showFirstLastButtons
    class="float-left mx-2"
  >
  </mat-paginator>
</div>
